#chessBoard {
    width: 484px;
    height: 482px;
    border: 0px solid red;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    margin: 50px auto;
}

#chessPositioner {
    width: 470px;
    height: 470px;
    border: 1px solid blue;
    position: relative;
    margin: 5px auto;
    background-color: rgba(236,179,124,1);
    background-image: url('../photo/2.png');
    opacity: 0.8;
}

#record {
    width: 200px;
    height: 150px;
    border: 1px solid black;
    position: relative;
    margin: 20px auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chess {
    width: 20px;
    height: 20px;
    border: 0px solid;
    border-radius: 50px;
    background-color: unset;
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.blackChess {
    border-color: black;
    background-color: black;
}

.whiteChess {
    border-color: white;
    background-color: white;
}

.active {
    box-shadow: 0px 0px 2px 2px rgba(0,128,255,1);
}